@model VaultexModels.EmployeeOrganisationDataViewModel

@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Vaultec Data test</h1>
    <p class="lead">Example to import data and dispay from set table</p>

</div>

<div class="row">
    <div class="col-md-12">
        <h2>This area will import the data and display as required</h2>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301865">Import Data</a></p>
    </div>

</div>